{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is where it all begins..</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<p>My name's Craig. Iʼm a software engineer searching for a full-time position to kick-start
  my career in tech in an Agile company. I love learning new skills, have a strong problemsolving mindset coupled
  with a proven adaptation capacity, and thrive in a collaborative environment.</p>
<p>After several years in the music and sales industry, I decided to take a
  leap of faith and change my life around by learning how to code. In
2021 I started independently teaching myself Python in an attempt to
embark on this journey. After being selected from 1800+ applicants I
joined the School of Code full-time intensive BootCamp and with that
have embarked on a life-changing journey that has developed me
personally, mentally but most importantly professionally.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}